[Desktop Entry]
Name=Getting Started
Comment=Archcraft OS Helper
Exec=/usr/bin/get_started.sh
Icon=archcraft_circle_red
Type=Application
Categories=GTK;System;Settings;
